cache/
.settings/org.eclipse.wst.jsdt.ui.superType.name
.project
.buildpath
.settings/.jsdtscope
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.php.core.prefs
.settings/org.eclipse.wst.jsdt.ui.superType.container
.idea/workspace.xml
.idea/compiler.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/.name
.idea/copyright/profiles_settings.xml
OJS.iml
