/* TYPOGRAPHY */
@import url('//framework.web.cern.ch/framework/2.0/fonts/PTSansWeb/PTSansWeb.css');
@import url('//framework.web.cern.ch/framework/2.0/fonts/PTSansWeb/PTSerifWeb.css');
@import url('typography.css');



html,
body {
	margin: 0;
	padding: 0;
	text-align: center;
}
html {
	font-size: 62.5%;
	overflow-x: hidden;
}
#container {
	background-color: #fff;
	padding: 0;
	/*max-width: 1300px;*/
	margin: 0 auto;
	text-align: left;
}

#header {

}

#body {
	max-width: 1350;
	padding: 10px;
	margin: 0 auto;
}

#nav-home {
	width: 100%;
	background-color: #ccc;
	display: block;
	margin: 0;
	padding: 10px;
}

#body a {
	color: #4d94cc;
}
#body a:hover {
	color: #f0f;
	text-decoration: none;
	background-color: transparent;
	color: #000;
}
#body a:visited{
	color: #915ec9;
}

#nav-home,
#header,
#navbar,
#breadcrumb {
	font-family: "PT Sans", sans-serif, arial;
}
#nav-home a {
	color: #fff;
	background-image: url('css-images/nav-home.png');
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 24px;
}
#nav-home a:hover {
	text-decoration: none;
	color: #000;
	background-color: none;
}
#header {
	color: #fff;
	background-color: #000;
	padding: 10px;
	background-image: url('css-images/header_YR2.jpg');
	background-size: cover;
	min-height: 120px;
}
#headerTitle {
	max-width: 900px;
	margin: 0 auto;
}
#header h1 {
	color: #fff;
}
#content h1, #content h2, #content h3, #content h4, #content h5, #main h1, #main h2, #main h3, #main h4, #main h5 {
	color: #000;
}

/* Footer */

#pageFooter {
	margin: 0 auto;
	max-width: 900px;
}
#footer {
	background-color: #eee;
	color: #666;
	min-height: 200px;
	margin-top: 80px;
	position: relative;
}
#footer .cern-logo span {
	display: none;
}
#footer .cern-logo a {
	display: block;
	width: 129px;
	height: 146px;
	background-image: url('css-images/cern-logo-large.png');
	background-position: top left;
	background-repeat: no-repeat;
	position: absolute;
	top: 20px;
	right: 20px;
	}

ul, ol {
	margin-left: 0;
}

ul.main-menu {
	position:relative;
	float:left;
	width:100%;
	padding:0 0 20px 10px;
	margin:0;
	list-style:none;
	line-height:1em;
}

ul.main-menu li {
	float:left;
	margin:0;
	padding:0;
}
ul.main-menu {
	display:block;
	color:#444;
	text-decoration:none;
	font-weight:bold;
	margin:0;
	padding:6px 20px;
}
ul.main-menu a {
	padding:0 10px 5px 10px;
	color: #f0f;
}
ul.main-menu A:hover,
ul.main-menu A:active,
ul.main-menu A.active:link,
ul.main-menu A.active:visited {
	background:#bbb;
	color: #f00;
	text-decoration: none;
}
ul.main-menu A.active:link,
ul.main-menu A.active:visited {
	border-left:1px solid #ccc;
	border-top: 1px solid #ccc;
	border-right:1px solid #ccc;
	position:relative;
	z-index:102;
}

/*subnav*/

ul.main-menu UL {
	position:absolute;
	left:0;
	top:2.5em;
	float:left;
	width:100%;
	margin:0;
	padding:5px 5px 0px 10px;
	list-style:none;
}

ul.main-menu UL LI {
	float:left;
	display:block;
	margin-top:1px;
}
ul.main-menu UL LI.active a {
	background-color: #cfcfcf;
	border-radius: 3px;
	padding: 3px 5px;
}
ul.main-menu a {
	margin:0 20px 0 0;
}
ul.main-menu {
	border-bottom: 1px solid #ccc;
}
ul.main-menu ul {
	border-bottom: none;
}
ul.main-menu UL A {
	display:inline;
	padding:0;
	border:0;
	font-weight: normal;
	font-size: smaller;
}

ul.main-menu UL A:hover,
ul.main-menu UL A:active,
ul.main-menu UL A.active:link,
ul.main-menu UL A.active:visited {
	color:#444;
}
ul.main-menu li li a {
	display: none;
}
ul.main-menu li.active a {
	display: inline;
	background-color: #fff;
	border-style: solid;
	border-width: 1px 1px 0 1px;
	border-color: #ccc;
	z-index: 103;
}
ul.main-menu li.active li a {
	border: none;
}
ul.main-menu li li a {
	border: none;
}

.selectMenu {
	max-width: 100%;
}
#sectionId{
	width: 100%;
}

.blurb {
	display: block;
	margin-bottom: 4em;
	overflow:visible;
	clear: left;
	min-height: 150px;
}

.blurb img {
	float: left;
	margin: 0 20px 20px 0;
	width: 150px;
	border: 1px solid #ccc;
}
.blurb h2, .blurb h3 {
	margin-top: 0;
}
.blurb .journal-menu {
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
	font-family: "PT Sans", sans-serif;
	font-size: smaller;
}

.blurb .journal-menu li {
	display: inline;
	margin-right: 1.5em;
}

#breadcrumb {
	font-size: smaller;
	padding-top: 4em;
	color: #ccc;
}

#breadcrumb a {
	color: #ccc;
}

#main {
	float: left;
	width: 64%;
}

#rightSidebar,
#leftSidebar {
	float: right;
	width: 14%;
	padding: 10px;
	font-size: 0.8em;
	font-family: "PT Sans", sans-serif, arial;
	height: 100%;
	margin-left: 2%;
}

/* Temp sidebar hacking */
#leftSidebar {
	display: none;
}
#rightSidebar {
	width: 28%;
}

* html #rightSidebar { margin-right: 5%; }

#body #rightSidebar div.block {
	border: none;
	border-color: #ccc;
}
#body #content {
	border: none;
}

/**
 * Table styles fro original common.css
 */

.highlightReviewerNotNotified, .highlightCopyediting {
	background: #EDEBC4;
}
.highlightNoDecision, .highlightLayoutEditing {
	background: #D8E9BD;
}
.highlightRevisedCopyUploaded, .higlightProofreading {
	background: #C6EBE4;
}
.highlightReviewerConfirmationOverdue {
	background: #9DD1E6;
}
.highlightReviewerCompletionOverdue {
	background: #74C5D8;
}

.fastTracked {
	background-color: #ABA;
}

table.listing td.separator, table.info td.separator {
    border-top: 1px dotted #DDDDD0;
    font-size: 0.1em;
    line-height: 1%;
}

/* Table of content */
.tocArticleCoverImage {
	/* Completely hide covers in TOC to make table display nicer */
	display: none;
}
.tocArticleTitleAuthors {
	width: 80%;
}
.tocArticleGalleysPages {
	width: 20%;
}

/* Some helper functions */
.centered {
	/* Use it to center any element*/
	display: block;
	margin: 0 auto;
}

.noBullets {
	/*Disable bullets in a list*/
	list-style: none;
}

/* Clearfix
----------------------------------------------------------------- */
/* More info: http://nicolasgallagher.com/micro-clearfix-hack/
For modern browsers */
.clearfix:before,
.clearfix:after,
#container:before,
#container:after,
#navbar:before,
#navbar:after,
#breadcrumb:before,
#breadcrumb:after
#footer:before,
#footer:after,
 {
    content: "";
    display: table;
}
.clearfix:after,
#container:after,
#navbar,
#breadcrumb,
#footer {
    clear: both;
}
/* For IE 6/7 (trigger hasLayout) */
.clearfix,
#container,
#navbar,
#breadcrumb,
#footer {
    zoom:1;
}


p, li, blockquote, dd {
	max-width: none;
}









/* Responsive styles below - these apply only at certain screen sizes */


/*
// -----------------------------------------------------------------
// Large screens
// -----------------------------------------------------------------
*/
@media screen and (min-width: 1300px) {



}




/*
// -----------------------------------------------------------------
// Tablet - portrait
// -----------------------------------------------------------------
*/
@media only screen and (min-width: 768px) {
		#submissions {
		overflow-x: auto;
	}
}



/*
// -----------------------------------------------------------------
// Desktop and Tablet Landscape
// -----------------------------------------------------------------
*/

@media only screen and (min-width: 1024px) {


}



/*
// -----------------------------------------------------------------
// Mobile
// -----------------------------------------------------------------
*/

@media only screen and (max-width: 768px) {

	#rightSidebar,
	#leftSidebar,
	#main {
		width: 100%;
		margin: 0;
		padding: 1em;
	}
	#submissions {
		overflow-x: auto;
	}

}